nav{width:100%; margin: 0px 0 0px 0;background: url('../images/nav.jpg') 50% 0 repeat-x #1f1f1f;border-radius:5px;padding: 27px 0 26px;z-index:11;}

.sf-menu{float: left;padding: 6px 0 0 25px;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu ul li {width:100%}
.sf-menu li {float:left;position:relative}

.sf-menu>li>a{display:inline-block;position:relative; }
.sf-menu>li>a:hover,.sf-menu>li.current>a,.sf-menu>li.sfHover>a{color:#fa5758;}

.sf-menu>li{margin-right:30px;}
.sf-menu a{font-size: 12px; line-height: 16px; color:#fff;text-transform:uppercase;}
.sf-menu>li:first-child+li a{padding-right: 10px;}
/*================================>> 2 Level <<========================================*/
.sf-menu li ul,.sf-menu li.sfHover ul{left:-28px;top:49px;width: 168px;background:#575757;padding:22px 0; z-index:99}
.sf-menu>li>ul>li{}
.sf-menu li ul li a{display:block;padding: 7px 10px 7px 29px;font-size:11px;}
.sf-menu li li a:hover, .sf-menu li.sfHover li.sfHover>a{background:#8f8f8f;color:#454545;}

/*================================>> 3 Level <<========================================*/
.sf-menu li li ul{left:148px !important;top:-22px !important;background:#8f8f8f !important;z-index:999;}
.sf-menu li li li{}
.sf-menu li li li a{color:#454545 !important;}
.sf-menu li li li a:hover{color:#fff !important;background:#4d4d4d;}

#search{float: right;margin: 0 23px  0;background:#000;overflow: hidden;border-radius:4px;}
#search input{float: left;background:none;border:none;margin:0;padding: 6px 0 6px 10px;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#fff;width:249px;}
#search a{display:block;float: right;width:29px;height:29px;background: url('../images/search_but.png') no-repeat;}
#search a:hover{background-position:0 -29px;}


.sf-menu .menu-arrow{display:block; position: absolute; right:0px;bottom:6px; width:5px;height:3px;text-indent:-100%; font-size:0; line-height:0;background: url('../images/menu_arrow.png') no-repeat;vertical-align: middle;}
	 .sf-menu a:hover .menu-arrow, .sf-menu li.current>a .menu-arrow, .sf-menu .sfHover>a:hover .menu-arrow{background-position:0;}

.sf-menu li li .menu-arrow{display:inline-block;position: static;background: url('../images/menu_arrow2.png') no-repeat;}

.sf-menu li:first-child+li{margin-right:20px;}

/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 995px) {
	 
}

@media only screen and (max-width: 767px) {
  nav{
		float:none;
		font:12px/15px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#fff;
		padding:20px 0px;
	}
		nav:before{
			content:'Menu:';
			display:block;
			margin-bottom:5px;
      padding-left:15px;
		}
	.sf-menu{display:none;}
	nav select{
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#464646;
		width:93%;
    outline: none;
    margin: 0 15px;
		border:2px solid #9e9e9e;
	}
	
}

@media only screen and (max-width: 479px) {
	nav select{
		width:90%;
	}
}